.teachingContent{
    height: auto;
    background-color: rgb(36, 36, 65);
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.teachingMenu{
    color: white;
    font-size: 4rem;
    padding-bottom: 3rem;

}

.teachingMenuItem a{
    color: white;
    
}

.teachingMenuItem a:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 3px;;
    padding: 3px;
    background-color: blue;
}

.teachingContentMenu{
    display: flex;
    /* :last-child */
}

.teachingMenuItem{
    padding-right: 1rem;
    letter-spacing: 1px;
}

.teachingChildren{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}